<!-- index.html -->

<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Vue</title>

	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

	<!-- navigation bar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<a class="navbar-brand"><i class="glyphicon glyphicon-bullhorn"></i> Travelling Salesman Problem</a>
		</div>
	</nav>

	<!-- main body of our application -->
	<div class="container" id="app">

		<div class="row">
			<div class="col-sm-6">
				<canvas id="map" width="540" height="480" style="float:left; border: 1px solid silver; background: url(http://johannes-beck.name/images/grid-20-20.png) top left; display: block;"></canvas>
				<!-- text -->
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label>Count:</label>
					<input type="number" v-model="count">
					<button class="btn btn-primary" v-on:click="getCities">Generate Cities</button>
				</div>
				<div class="form-group">
					<input name="algorithm" type="radio" value="BruteForce" v-model="algorithm">
					<label>BruteForce</label>
				</div>
				<div class="form-group">
					<input name="algorithm" type="radio" value="NearestNeighbor" v-model="algorithm">
					<label>Nearest-Neighbor</label>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" v-on:click="getPath">Calculate Path</button>
				</div>
				<div class="form-group">
					<label>Distance: {{distance}} km</label>
				</div>
				<div class="form-group">
					<label>Time: {{msTime}} ms</label>
				</div>
			</div>
		</div>

		<!-- JS -->
		<script src="https://unpkg.com/vue@next/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
		<script src="app.js"></script>
</body>

</html>